nav#header {
	margin-bottom: 15px;
}

.nav-wrapper{
	background-color: #ef5350;
}

.brand-logo {
}

#itemInput{
	width: 75%;
}

div#queryOrigin {
	height: 150px;
}

div#map {
	height: 400px;
}

div#mapCard{
/*	background-color:#f44336;
*/
	background-color: teal;
}

div#slidingcard{
}

div#weathercard {
	height: 150px;
	display: none;
}

div#rightpanel {
	height: 100%;
}

div#schedule {
}

div#notes {
	margin-top:10px;
}

#footer {
	margin-top: 100px;
}