.nav-wrapper {
	background-color: #e0e0e0;
}

.brand-logo {
	font-family: Roboto !important;
	font-size: 25pt !important;
	font-weight: 200 !important;
	color: #ff7043!important;
}

.responsive-img {
	float: right;
	padding-top: 9px;
	padding-right: 7px;
}

.search-bar {
	font-family: gill sans !important;
	font-size: 15pt !important;
	font-weight: 200 !important;
	color: #4db6ac !important;
	font-style: italic;
}

.btn-material-icons {
	float: right;
	background-color: #4db6ac;
}

.row {
	padding-top: 15px;
	text-align: left;
	background-color: #ff7043;
	margin-top: 100px; 
	font-family: Gill Sans !important;
	font-size: 15pt !important;
	font-weight: 110 !important;
	color: #ffffff!important;
	letter-spacing: 5px;
}

.page-footer {
	font-family: Gill Sans !important;
	font-size: 9pt !important;
	font-weight: 110 !important;
	color: #ffffff!important;
	letter-spacing: 1px;
	background-color: black;
}


.white-text{
	font-size: 12pt !important;
	font-weight: 100 !important;
	color: #ffffff!important;
	letter-spacing: 2px;
	background-color: black;
}

.text {
	font-size: 12pt !important;
	font-weight: 100 !important;
	color: #ffffff!important;
	background-color: black;
}


